
STRINGTABLE DISCARDABLE
BEGIN
    IDS_FIRSTRUN1				"这是您第一次运行 %s v%.20s.\n\n"
    IDS_FIRSTRUN2				"请先观看模拟器使用教程，熟悉基本设置，教程在群文件里搜索。  "
    IDS_FIRSTRUN3A				"注意此模拟器完全免费, 游戏资源群内都是免费发布！QQ群：797540537"
    IDS_FIRSTRUN3B				"注意这是内测版本软件, 所以可能缺少一些功能, 或者对您的系统造成一些问题。"

	IDS_CHEAT_NAME				"作弊名称"
	IDS_CHEAT_STATUS			"状态"

	IDS_INPUT_INPUT				"游戏输入"
	IDS_INPUT_MAPPING			"设定到"
	IDS_INPUT_STATE				"状态"
	IDS_INPUT_INP_PLAYER		"玩家 %i"
	IDS_INPUT_INP_KEYBOARD		"键盘"
	IDS_INPUT_INP_JOYSTICK		"手柄 %i"
	IDS_INPUT_INP_XARCADEL		"X-Arcade(左边)"
	IDS_INPUT_INP_XARCADER		"X-Arcade(右边)"
	IDS_INPUT_INP_HOTRODL		"Hot Rod (左边)"
	IDS_INPUT_INP_HOTRODR		"Hot Rod (右边)"
	IDS_INPUT_ANALOG_ABS		"全部"
	IDS_INPUT_ANALOG_AUTO		"自动回中"
	IDS_INPUT_ANALOG_NORMAL		"正常"

	IDS_DIP_GROUP				"跳线组"
	IDS_DIP_SETTING				"设定"

	IDS_INPSET_MOVENAME			"移动控制或按下键 %.100hs"
	IDS_INPSET_MOVE				"移动控制或按下键"
	IDS_INPSET_WAITING			"等待 %.80s 后释放 ..."

	IDS_MEMCARD_CREATE			"创建新的记忆卡"
	IDS_MEMCARD_SELECT			"选择新的记忆卡"

	IDS_PROGRESS_LOADING		"读取并初始化 %s ..."
	IDS_PROGRESS_LOADING_ONLY	"正在读取"

	IDS_REPLAY_RECORD			"记录游戏输入到文件"
	IDS_REPLAY_REPLAY			"回放游戏输入文件"

	IDS_ROMS_SELECT_DIR			"选择路径:"
	IDS_ROMS_PATHS				"ROMs 路径"
	IDS_ROMS_EDIT_PATHS			"%s%s设置 ROMs 路径"
	IDS_ROMS_EDIT_DEFAULTS		"所有路径恢复默认?"
	IDS_STATE_LOAD				"读取游戏进度"
	IDS_STATE_SAVE				"保存游戏进度"
	IDS_STATE_ACTIVESLOT		"存盘点 %d 已激活"
	IDS_STATE_LOADED			"游戏进度读取完毕"
	IDS_STATE_LOAD_ERROR		"读取错误"
	IDS_STATE_SAVED				"游戏进度保存完毕"
	IDS_STATE_SAVE_ERROR		"保存错误"

	IDS_DAT_GENERATE			"生成 %s 数据库文件"
	IDS_SCRN_NOGAME				"完整扩容版"

	IDS_NETPLAY_START			"*** 开始联机游戏:"
	IDS_NETPLAY_START_YOU		"*** 你是玩家 %1。 "
	IDS_NETPLAY_START_TOTAL		"共有 %i 位玩家。"
	IDS_NETPLAY_DROP			"*** 玩家 %1i <%.32hs> 掉线了。"
	IDS_NETPLAY_TOOMUCH			"文字太多"

	IDS_SSHOT_SAVED				"PNG 图像已保存"
	IDS_SSHOT_ERROR				"PNG 图像错误"
	IDS_STSHOT_SAVED			"PNG 图像保存为[标题图]"
	IDS_SPSHOT_SAVED			"PNG 图像保存为[预览图]"

	IDS_REC_AVI					"开始录制 AVI"
	IDS_STOP_AVI				"停止录制 AVI "

	IDS_SOUND_NOVOLUME			"没有音量控制"
	IDS_SOUND_VOLUMESET			"音量 %03i %%"
	IDS_SOUND_MUTE				"静音"
	IDS_SOUND_MUTE_OFF			"还原声音"

	IDS_DISK_REPLAY				"当前游戏输入记录文件"
	IDS_DISK_THIS_REPLAY		"游戏输入记录文件."
	IDS_DISK_FILE_REPLAY		"%s 游戏输入记录文件"
	IDS_DISK_STATE				"游戏进度文件"
	IDS_DISK_THIS_STATE			"当前游戏进度文件"
	IDS_DISK_FILE_STATE			"%s 游戏进度文件"
	IDS_DISK_FILE_PATCH			"%s 补丁文件"
	IDS_DISK_SOUND				"声音录制文件"
	IDS_DISK_THIS_SOUND			"当前声音录制文件"
	IDS_DISK_FILE_SOUND			"%s 声音录制文件"
	IDS_DISK_FILE_CARD			"%s 记忆卡文件"
	IDS_DISK_ALL_CARD			"所有记忆卡文件"
	IDS_DISK_ALL_DAT			"所有数据文件"
	IDS_DISK_TEXT				"文本文件"
	IDS_DISK_FILE_ROMDATA		"%s Romdata 文件"
	
	IDS_DISK_SAVEREPORT			"保存系统信息报告"

	IDS_GAMELANG_LOAD			"选择本地游戏列表文件"
	IDS_GAMELANG_EXPORT			"创建本地游戏列表翻译模板"

	IDS_ROMINFO_DIALOGTITLE		"Rom 信息"
	IDS_ROMINFO_ROMS			"Rom 信息"
	IDS_ROMINFO_SAMPLES			"采样信息"
	IDS_ROMINFO_NAME			"名称"
	IDS_ROMINFO_SIZE			"大小 (字节)"
	IDS_ROMINFO_CRC32			"CRC32"
	IDS_ROMINFO_TYPE			"类型"
	IDS_ROMINFO_FLAGS			"标签"
	IDS_ROMINFO_ESSENTIAL		"%s, 关键"
	IDS_ROMINFO_OPTIONAL		"%s, 可选"
	IDS_ROMINFO_PROGRAM			"%s, 程序"
	IDS_ROMINFO_GRAPHICS		"%s, 图形"
	IDS_ROMINFO_SOUND			"%s, 声音"
	IDS_ROMINFO_BIOS			"%s, BIOS"
	IDS_ROMINFO_NODUMP			"未转储"

	IDS_SPATH_PREVIEW			"预览图"
	IDS_SPATH_TITLES			"标题图"
	IDS_SPATH_ICONS				"图标"
	IDS_SPATH_CHEATS			"作弊文件"
	IDS_SPATH_HISCORE			"高分记录"
	IDS_SPATH_SAMPLES			"采样文件"
	IDS_SPATH_IPS				"IPS"
	IDS_SPATH_ROMDATA			"RomData"
	IDS_SPATH_NGCD_ISOS			"Neo Geo CDZ 游戏"
	IDS_SPATH_NGCD_COVERS		"Neo Geo CDZ 封面"
	IDS_SPATH_BLEND				"透明文件"
	IDS_SPATH_SELECT			"选择预览图"
	IDS_SPATH_VERSUS			"对战预览图"
	IDS_SPATH_HOWTO				"操作预览图"
	IDS_SPATH_SCORES			"分数预览图"
	IDS_SPATH_BOSSES			"Boss预览图"
	IDS_SPATH_GAMEOVER			"游戏结束预览图"
	IDS_SPATH_FLYERS			"广告图"
	IDS_SPATH_MARQUEES			"贴画"
	IDS_SPATH_CONTROLS			"控制面板图"
	IDS_SPATH_CABINETS			"机台图"
	IDS_SPATH_PCBS				"电路板图"
	IDS_SPATH_HISTORY			"历史文件"
	IDS_SPATH_EEPROM			"EEPROM 保存"
	IDS_SPATH_HDD				"磁盘镜像"


	IDS_PRESET_SAVED			"预设文件已保存至 %s"

	IDS_LOCAL_GL_CREATE			"创建本地游戏列表翻译模板"
	IDS_LOCAL_GL_SELECT			"选择本地游戏列表文件"
	IDS_LOCAL_GL_FILTER			"FB Neo 游戏列表文件"

	IDS_CD_SELECT_IMAGE			"选择光盘镜像文件 ..."
	IDS_CD_SELECT_IMAGE_TITLE	"选择光盘镜像文件"
	IDS_CD_SELECT_FILTER		"光盘镜像"

	IDS_LOCAL_CREATE			"创建本地语言文件翻译模板"
	IDS_LOCAL_SELECT			"选择本地语言文件"
	IDS_LOCAL_FILTER			"FB Neo 语言文件"

	IDS_SEL_FILTERS				"过滤器"
	IDS_SEL_HARDWARE			"硬件"
	IDS_SEL_CAVE				"Cave"
	IDS_SEL_CPS1				"CPS-1"
	IDS_SEL_CPS2				"CPS-2"
	IDS_SEL_CPS3				"CPS-3"
	IDS_SEL_NEOGEO				"NeoGeo"
	IDS_SEL_PGM					"PGM"
	IDS_SEL_PSIKYO				"Psikyo"
	IDS_SEL_SEGA				"Sega Arcade"
	IDS_SEL_TAITO				"Taito"
	IDS_SEL_TOAPLAN				"Toaplan"
	IDS_SEL_MISCPRE90S			"Misc(Pre-90s)"
	IDS_SEL_MISCPOST90S			"Misc(Post-90s)"
	IDS_SEL_MEGADRIVE			"Megadrive"
	IDS_SEL_PACMAN				"Pacman"
	IDS_SEL_KONAMI				"Konami"
	IDS_SEL_GALAXIAN			"Galaxian"
	IDS_SEL_IREM				"Irem"
	IDS_SEL_BOARDTYPE			"机板类型"
	IDS_SEL_BOOTLEG				"盗版"
	IDS_SEL_PROTOTYPE			"工程版"
	IDS_SEL_HACK				"改版"
	IDS_SEL_HOMEBREW			"自制"
	IDS_SEL_DEMO				"演示"
	IDS_SEL_GENUINE				"原作"
	IDS_SEL_SETSTATUS			"%i｜%i  [缺 %i 个]"
	IDS_SEL_KANEKO				"Kaneko"
	IDS_SEL_DATAEAST			"Data East"
	IDS_SEL_CAPCOM_MISC			"Capcom(其它)"
	IDS_SEL_SETA				"Seta"
	IDS_SEL_TECHNOS				"Technos"
	IDS_SEL_PCE					"PC-Engine"
	IDS_SEL_SMS					"Master System"
	IDS_SEL_SG1000				"SG-1000"
	IDS_SEL_COLECO				"ColecoVision"
	IDS_SEL_GG					"Game Gear"
	IDS_SEL_MSX					"MSX"
	IDS_SEL_NES                 "NES"
	IDS_SEL_FDS                 "FDS"
	IDS_SEL_SNES				"SNES"
	IDS_SEL_NGP                 "Neo Geo Pocket"
	IDS_SEL_CHANNELF            "Fairchild Channel F"
	IDS_SEL_SPECTRUM			"ZX Spectrum"
	IDS_SEL_MIDWAY				"Midway"
	IDS_SEL_CAPCOM_GRP			"Capcom"
	IDS_SEL_SEGA_GRP			"Sega"

	IDS_FAVORITES				"收藏"
	IDS_GENRE					"游戏类型"
	IDS_GENRE_HORSHOOT			"横版射击"
	IDS_GENRE_VERSHOOT			"竖版射击"
	IDS_GENRE_SCRFIGHT			"动作闯关"
	IDS_GENRE_VSFIGHT			"对战格斗"
	IDS_GENRE_BIOS				"BIOS"
	IDS_GENRE_BREAKOUT			"砖块"
	IDS_GENRE_CASINO			"赌博"
	IDS_GENRE_BALLPADDLE		"球拍"
	IDS_GENRE_MAZE				"迷宫"
	IDS_GENRE_MINIGAMES			"迷你游戏"
	IDS_GENRE_PINBALL			"弹珠"
	IDS_GENRE_PLATFORM			"平台"
	IDS_GENRE_PUZZLE			"益智"
	IDS_GENRE_QUIZ				"问答"
	IDS_GENRE_SPORTSMISC		"体育"
	IDS_GENRE_SPORTSFOOTBALL	"足球"
	IDS_GENRE_MISC				"其它"
	IDS_GENRE_MAHJONG			"麻将"
	IDS_GENRE_RACING			"赛车"
	IDS_GENRE_SHOOT				"射击"
	IDS_GENRE_RUNGUN            "跑酷射击"
    IDS_GENRE_STRATEGY          "策略"
    IDS_GENRE_ACTION            "动作(传统)"
    IDS_GENRE_RPG               "角色扮演"
    IDS_GENRE_SIM               "模拟"
    IDS_GENRE_ADV               "冒险"
    IDS_GENRE_CARD              "Card"
    IDS_GENRE_BOARD             "Board"

	IDS_FAMILY					"系列"
	IDS_FAMILY_MSLUG			"合金弹头"
	IDS_FAMILY_SF				"街霸"
	IDS_FAMILY_KOF				"拳皇"
	IDS_FAMILY_DSTLK			"恶魔猎人"
	IDS_FAMILY_FATFURY			"饿狼传说"
	IDS_FAMILY_SAMSHO			"侍魂"
	IDS_FAMILY_19XX				"19XX"
	IDS_FAMILY_SONICWI			"四国战机"
	IDS_FAMILY_PWRINST			"豪血寺一族"
	IDS_FAMILY_SONIC			"索尼克"
	IDS_FAMILY_DONPACHI			"首领蜂"
	IDS_FAMILY_MAHOU			"魔法大作战"
	IDS_FAMILY_OTHER			"其它"

	IDS_IPSMANAGER_TITLE		"IPS 补丁管理器"

	IDS_NGCD_DIAG_TITLE			"%s%sNeo Geo CDZ%s选择游戏"
	IDS_NGCD_TITLE				"标题"
	IDS_NGCD_NGCDID				"NGCD-ID"

	IDS_ROMDATAMANAGER_TITLE	"%s%sRomData 管理器%s选择游戏"
	IDS_ROMDATA_DATPATH			"Dat 路径"
	IDS_ROMDATA_ROMSET			"Romset"
	IDS_ROMDATA_DRIVER			"驱动"
	IDS_ROMDATA_HARDWARE_DESC	"%s"
	IDS_ROMDATA_FULLNAME		"游戏"

	IDS_MENU_0 					"街机分辨率(&A)"
    IDS_MENU_1 					"其它分辨率(&O) ..."
    IDS_MENU_2 					"自定义伽玛值(&O) ..."
    IDS_MENU_3 					"调整 CPU 速度(&C) ..."
    IDS_MENU_4 					"从已激活存盘点载入游戏进度(存盘点 %d)\tF9"
    IDS_MENU_5 					"保存游戏进度到已激活存盘点(存盘点 %d)\tF10"
	IDS_MENU_6					"未选择游戏"

	IDS_NUMDIAL_NUM_FRAMES		"缓冲帧数值"
	IDS_NUMDIAL_FILTER_SHARP	"选择过滤器所需的锐度"

	IDS_SCANNING_ROMS			"正在扫描游戏 ..."

	IDS_CACHING_ICONS			"图标加载中..."

	IDS_CHEAT_SEARCH_NEW		"已开始新的作弊码搜索"
	IDS_CHEAT_SEARCH_ADD_MATCH	"%i 个匹配地址"
	IDS_CHEAT_SEARCH_RESULTS	"地址 %08X 数值 %02X"
	IDS_CHEAT_SEARCH_EXIT		"已退出作弊码搜索"

	IDS_LANG_ENGLISH_US			"英语 (US)"
	IDS_LANG_SIMP_CHINESE		"简体中文"
	IDS_LANG_TRAD_CHINESE		"繁体中文"
	IDS_LANG_JAPANESE			"日语"
	IDS_LANG_KOREAN				"韩语"
	IDS_LANG_FRENCH				"法语"
	IDS_LANG_SPANISH			"西班牙语"
	IDS_LANG_ITALIAN			"意大利语"
	IDS_LANG_GERMAN				"德语"
	IDS_LANG_PORTUGUESE			"葡萄牙语"
	IDS_LANG_POLISH				"波兰语"
	IDS_LANG_HUNGARIAN			"匈牙利语"

	IDS_GAMEINFO_DIALOGTITLE	"游戏信息"
	IDS_GAMEINFO_INGAME			"预览图"
	IDS_GAMEINFO_TITLE			"标题图"
	IDS_GAMEINFO_SELECT			"选择图"
	IDS_GAMEINFO_VERSUS			"对战图"
	IDS_GAMEINFO_HOWTO			"操作图"
	IDS_GAMEINFO_SCORES			"分数图"
	IDS_GAMEINFO_BOSSES			"Boss图"
	IDS_GAMEINFO_GAMEOVER		"Over图"
	IDS_GAMEINFO_FLYER			"广告图"
	IDS_GAMEINFO_CABINET		"机台图"
	IDS_GAMEINFO_MARQUEE		"贴画"
	IDS_GAMEINFO_CONTROLS		"控制面板图"
	IDS_GAMEINFO_PCB			"电路板图"
	IDS_GAMEINFO_ROMINFO		"Rom 信息"
	IDS_GAMEINFO_HISTORY		"历史"
	IDS_GAMEINFO_SAMPLES		"采样信息"
	IDS_GAMEINFO_HDD			"磁盘镜像信息"

	IDS_PLACEHOLDER_LOAD		"选择皮肤"

	IDS_CLONE_OF				" (原作 %s"
	IDS_ROMS_FROM_1				", 从 %s 选择 ROMs"
	IDS_ROMS_FROM_2				"%s从 %s 选择 ROMs"
	IDS_BOARD_ROMS_FROM			"%s需要 BIOS 文件 %s 的支持"
	IDS_SAMPLES_FROM			"%s从 %s 选择采样文件"
	IDS_NUM_PLAYERS				"%s%i 人游戏%s"
	IDS_NUM_PLAYERS_MAX			"s Max"
	IDS_HARDWARE_DESC			"%s (%s, %s 硬件)"
	IDS_MVS_CARTRIDGE			"Neo Geo MVS 卡带"
	IDS_HISCORES_SUPPORTED		"%s已支持高分记录"
	IDS_CARTRIDGE				"卡带"
	IDS_HARDWARE				"硬件"
	IDS_EMPTY					"空的"
	IDS_UNIDENTIFIED_CD			"无法识别的 CD"

	IDS_ERR_ERROR				"错误"
    IDS_ERR_WARNING				"警告"
    IDS_ERR_INFORMATION			"信息"
    IDS_ERR_UNKNOWN				"未知"

	IDS_ERR_LOAD_OK				"游戏可以运行。"
	IDS_ERR_LOAD_PROBLEM		"游戏存在下列问题:"
	IDS_ERR_LOAD_NODATA			"未找到数据, 游戏无法运行!"
	IDS_ERR_LOAD_ESS_MISS		"关键数据丢失, 游戏无法运行!"
	IDS_ERR_LOAD_ESS_BAD		"关键数据不正确, 游戏可能无法运行!"
	IDS_ERR_LOAD_DATA_MISS		"找不到数据。"
	IDS_ERR_LOAD_DATA_BAD		"数据不正确。"
	IDS_ERR_LOAD_FOUND			"%.32hs 找到 (%.512s)。\n"
	IDS_ERR_LOAD_NOTFOUND		"%.32hs 未找到。\n"
	IDS_ERR_LOAD_INVALID		"下列 ROMs 不正确:\n"
	IDS_ERR_LOAD_CRC			"%.32hs has a CRC of %.8X (correct is %.8X).\n"
	IDS_ERR_LOAD_SMALL			"%.32hs 是 %dk 太小 (应为 %dkB)。\n"
	IDS_ERR_LOAD_LARGE			"%.32hs 是 %dk 太大 (应为 %dkB)。\n"
	IDS_ERR_LOAD_DET_ESS		"关键"
	IDS_ERR_LOAD_DET_PRG		"程序"
	IDS_ERR_LOAD_DET_BIOS		"BIOS "
	IDS_ERR_LOAD_DET_GRA		"图形"
	IDS_ERR_LOAD_DET_SND		"声音"
	IDS_ERR_LOAD_DET_ROM		"ROM "
	IDS_ERR_LOAD_DISK			"从 %.512s 读取 %.32hs 错误。"
	IDS_ERR_LOAD_DISK_CRC		"从 %.512s 读取 %.32hs 时 CRC 不匹配。"
	IDS_ERR_LOAD_REQUEST		"载入 %.128s 需要的 %.32hs 错误\n模拟可能会出现问题。"
	IDS_ERR_LOAD_NOHDDDATA		"未找到磁盘镜像数据, 游戏将无法运行！"

	IDS_ERR_BURN_INIT			"启动 '%.128s' 时出现问题。\n"

	IDS_ERR_UI_NOSUPPORT		"%.32s 不被 %.32s 所支持。"
	IDS_ERR_UI_WINDOW			"无法创建主窗口。"
	IDS_ERR_UI_MODULE			"无法初始化 '%s' 模块。"
	IDS_ERR_UI_TRIPLE			"无法创建三倍缓冲。"
	IDS_ERR_UI_FULL_NOMODE		"没有适合的显示模式可用, 请您调整您的全屏显示设置。"
	IDS_ERR_UI_FULL_PROBLEM		"设置 '%dx%dx%dbpp (%dHz)' 显示模式时出现问题。"
	IDS_ERR_UI_FULL_CUSTRES		"\n\n这不是标准 VGA 分辨率, 请确定您的显卡支持此分辨率。"
	IDS_ERR_UI_VID_MODULE		"无法初始化 '%s' 模块。 请尝试安装 DirectX 最终用户可再发行组件 (2010年7月版)。"
	IDS_ERR_UI_HARDFX_MODULE	"无法加载着色器 '%S'"

	IDS_ERR_DISK_CREATE			"创建错误 "
	IDS_ERR_DISK_LOAD			"读取错误 "
	IDS_ERR_DISK_UNAVAIL		" 是不可用的游戏。"
	IDS_ERR_DISK_TOONEW			" 不适用于当前版本 %s。"
	IDS_ERR_DISK_TOOOLD			" 需要更新版本 %s, 请升级。"

	IDS_ERR_NO_NETPLAYDLL		"未找到 'kailleraclient.dll'"
	IDS_ERR_NO_DRIVER_SELECTED	"未选择列表中的驱动。"
	IDS_ERR_NO_DRIVER_SEL_SLOT1	"卡槽 1 内没有已选定的驱动。"
	IDS_ERR_NON_WORKING			"此游戏无法运行, 是否读取?"
	IDS_ERR_CDEMU_INI_FAIL		"无法初始化光盘模拟。"
	IDS_ERR_DRIVER_NOT_EXIST	"驱动不存在"
	IDS_ERR_ROMSET_DUPLICATE	"Romset与驱动列表中的驱动名称重复"

	IDS_ERR_MACRO_NOT_MAPPING	"双击后, 请先为宏分配按键。"

	IDS_ERR_LOCAL_FAIL_CONNECT	"连接网络失败。"
	IDS_ERR_LOCAL_FAIL_OPEN_URL	"无法访问 FB Neo 网站。"
END
